.list-view {
	-fx-background-color: #0d0f1c; /* #03040c;*/
    -fx-background-radius: 20 20;
	-fx-effect: dropshadow(three-pass-box, #f2b783, 24.74, 0.4, 0.0, 0.0, 1);
	-fx-border-color: none;
}


.list-cell{
	-fx-background-color: #000000;
  	-fx-font: 32pt "Barlow ExtraBold";
 
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #272b2b; /*linear-gradient(#328BDB 0.0%, #207BCF 25.0%, #1973C9 75.0%, #0A65BF 100.0%); */
    -fx-text-fill: white;
	-fx-background-radius: 60;

}


.list-cell:even:selected { /* <=== changed to even */
    /* -fx-background-radius: 10 10 0 0;*/
    -fx-background-radius: 30 30 0 0;
}

.list-cell:odd:selected {
-fx-background-radius: 0 0 30 30;
     /*  -fx-background-radius: 0 0 10 10; */
}

.list-cell:filled:hover {
}